<%- include('partials/header.ejs'); -%>
<!-- ########################### -->

<!-- 
    dies wäre die seite die vom EJS bei jedem Blog-Eintrag generiert wird
    hiermit würden wir das gleiche wie die seiten about oder contact erstellen
 -->

 <h1> <%= title %> </h1>
<p> <%= content %> </p>


<!-- ########################### -->
<%- include('partials/footer.ejs'); -%>